* {
    margin-left: 0;
    margin-right: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F9F8F8;
}

hr {
    margin: auto;
    border-style: none;
    border-top-style: solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 35rem;
    border-width: 1px;
    border-color: rgba(169, 169, 169, 0.5);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-left: 8px;
    margin-right: 5px;
}

h3 {
    margin-left: 8px;
    margin-right: 15px;
    text-transform: capitalize;
}

h4 {
    margin-left: 8px;
}

/* Main Area */
.main-title {
    margin-bottom: 0;
    color: #ff3c00;
    padding-left: 10px;
    text-transform: uppercase;
    text-align: left;
}

.main-subtitle {
    margin: 0;
    padding-right: 10px;
    text-align: right;
}

.flex {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    margin-right: 8px;
}

/* Navigation Bar */
.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    text-align: left;
    justify-content: left;
    margin: bottom;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 0;
    margin: 0px;
    background-color: #2f2e36;
    box-shadow: 0 5px 15px 0#ff990093;
    width: 100%;
}

/* Titles */
.title-table {
    display: flex;
    align-items: baseline;
    text-align: left;
}

.note {
    color: rgba(0, 0, 0, 0.582);
    font-size: small;
    padding-left: 1.5rem;
}

/* Topics Info */
.topic{
    padding-right: 1%;
}

paragraph {
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 0.3rem;
    text-align: justify;
    display: block;
    text-indent: 20px;
    line-height: 1.8;
}

/* Table Info */
.table {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 5px;
    margin-right: 8px;
    border: 2px solid gray;
    text-align: left;
}

/* Links */
a {
    display: inline-block;
    color: #ff3c00;
    text-decoration: none;
}

a:hover{
    color: #fc5f2f;
}

a::after {
    display: block;
    content: '';
    border-bottom: 1px solid #fc5f2f;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);
}

a:hover::after {
    transform: scaleX(1);
}

/* Contact Information */
.contact {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    bottom: 0px;
    margin: auto;
    padding: 6px;
    background-image: linear-gradient(to bottom,transparent,rgb(255, 255, 255));
    border: 1px solid #ff3c00;
    border-left: 0px;
    border-right: 0px;
    border-top: 0;
    width: 200px;
}

/* Mobile Optmization */
@media (max-width: 1028px){
}